trigger:
  batch: true
  branches:
    include:
      - main
      - stable-*

pr:
  autoCancel: true
  branches:
    include:
      - main
      - stable-*

schedules:
  - cron: 0 9 * * *
    displayName: Nightly
    always: true
    branches:
      include:
        - main
        - stable-*

variables:
  - name: checkoutPath
    value: ansible_collections/ansible/windows
  - name: coverageBranches
    value: main
  - name: entryPoint
    value: .azure-pipelines/commands/entry-point.sh
  - name: fetchDepth
    value: 0
  - name: defaultContainer
    value: quay.io/ansible/azure-pipelines-test-container:6.0.0

pool: Standard

stages:
  - stage: Dependencies
    displayName: Dependencies
    jobs:
      - job: dep_download
        displayName: Download Dependencies
        pool:
          vmImage: ubuntu-latest
        steps:
          - checkout: self
            fetchDepth: 1
          - task: UsePythonVersion@0
            inputs:
              versionSpec: "3.10"
          - bash: python -m pip install ansible-core
            displayName: Install Ansible
          - bash: ansible-galaxy collection install -r tests/requirements.yml -p collections
            displayName: Install collection requirements
          - task: PublishPipelineArtifact@1
            inputs:
              targetPath: collections
              artifactName: CollectionRequirements
  - stage: Ansible_devel
    displayName: Ansible devel
    dependsOn:
      - Dependencies
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: '{0}'
          testFormat: 'devel/{0}'
          targets:
            - name: Sanity
              test: sanity
            - name: Units
              test: units
            - name: Lint
              test: lint
  - stage: Ansible_2_18
    displayName: Ansible 2.18
    dependsOn:
      - Dependencies
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: '{0}'
          testFormat: '2.18/{0}'
          targets:
            - name: Sanity
              test: sanity
            - name: Units
              test: units
  - stage: Ansible_2_17
    displayName: Ansible 2.17
    dependsOn:
      - Dependencies
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: '{0}'
          testFormat: '2.17/{0}'
          targets:
            - name: Sanity
              test: sanity
            - name: Units
              test: units
  - stage: Ansible_2_16
    displayName: Ansible 2.16
    dependsOn:
      - Dependencies
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: '{0}'
          testFormat: '2.16/{0}'
          targets:
            - name: Sanity
              test: sanity
            - name: Units
              test: units
  - stage: Ansible_2_15
    displayName: Ansible 2.15
    dependsOn:
      - Dependencies
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: '{0}'
          testFormat: '2.15/{0}'
          targets:
            - name: Sanity
              test: sanity
            - name: Units
              test: units
  - stage: Windows_1
    displayName: Windows 1
    dependsOn:
      - Dependencies
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Server {0}
          testFormat: devel/windows/{0}/1
          targets:
            - name: 2016 WinRM HTTP
              test: 2016/winrm/http
            - name: 2019 WinRM HTTPS
              test: 2019/winrm/https
            - name: 2022 WinRM HTTPS
              test: 2022/winrm/https
            - name: 2022 PSRP HTTPS
              test: 2022/psrp/https
            - name: 2022 SSH Key
              test: 2022/ssh/key
            - name: 2025 PSRP HTTP
              test: 2025/psrp/http
            - name: 2025 SSH Key
              test: 2025/ssh/key
  - stage: Windows_2
    displayName: Windows 2
    dependsOn:
      - Dependencies
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Server {0}
          testFormat: devel/windows/{0}/2
          targets:
            - name: 2016 WinRM HTTP
              test: 2016/winrm/http
            - name: 2019 WinRM HTTPS
              test: 2019/winrm/https
            - name: 2022 WinRM HTTPS
              test: 2022/winrm/https
            - name: 2022 PSRP HTTPS
              test: 2022/psrp/https
            - name: 2022 SSH Key
              test: 2022/ssh/key
            - name: 2025 PSRP HTTP
              test: 2025/psrp/http
            - name: 2025 SSH Key
              test: 2025/ssh/key
  - stage: Windows_3
    displayName: Windows 3
    dependsOn:
      - Dependencies
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Server {0}
          testFormat: devel/windows/{0}/3
          targets:
            - name: 2016 WinRM HTTP
              test: 2016/winrm/http
            - name: 2019 WinRM HTTPS
              test: 2019/winrm/https
            - name: 2022 WinRM HTTPS
              test: 2022/winrm/https
            - name: 2022 PSRP HTTPS
              test: 2022/psrp/https
            - name: 2022 SSH Key
              test: 2022/ssh/key
            - name: 2025 PSRP HTTP
              test: 2025/psrp/http
            - name: 2025 SSH Key
              test: 2025/ssh/key
  - stage: Windows_4
    displayName: Windows 4
    dependsOn:
      - Dependencies
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Server {0}
          testFormat: devel/windows/{0}/4
          targets:
            - name: 2016 WinRM HTTP
              test: 2016/winrm/http
            - name: 2019 WinRM HTTPS
              test: 2019/winrm/https
            - name: 2022 WinRM HTTPS
              test: 2022/winrm/https
            - name: 2022 PSRP HTTPS
              test: 2022/psrp/https
            - name: 2022 SSH Key
              test: 2022/ssh/key
            - name: 2025 PSRP HTTP
              test: 2025/psrp/http
            - name: 2025 SSH Key
              test: 2025/ssh/key
  - stage: Summary
    condition: succeededOrFailed()
    dependsOn:
      - Ansible_devel
      - Ansible_2_18
      - Ansible_2_17
      - Ansible_2_16
      - Ansible_2_15
      - Windows_1
      - Windows_2
      - Windows_3
      - Windows_4
    jobs:
      - template: templates/coverage.yml
